html,body{
height: 100%;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: #C0B283 !important;
}


.card-footer {
    background-color: #CDD0C0;
    color: #373737;
    font-family: 'Chelsea Market', cursive;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #373737;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: #373737;
font-family: 'Chelsea Market', cursive;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #373737;
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: #373737;
font-family: 'Chelsea Market', cursive;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: #373737;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.page-footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;       
    text-align: center;
  }