body {
    background-color: #F4F4F4;
    font-family: 'Chelsea Market', cursive;
}

#logo {
    position: relative;
}

nav, #footerUpper {
    background-color: #CDD0C0;
}

ul.navbar-nav.mr-auto > li {
    border-right: #373737 1px solid;
    line-height: 3px;
}

ul.navbar-nav.onleft > li {
    border-left: #373737 1px solid;
    line-height: 3px;
}

#welcomeTitle {
    color: #373737;
}
#searchBar, .mt-2.rounded.sidebarBox, .footer-copyright {
    background-color: #C0B283;
}

.carousel.slide.mt-3 .carousel-item {
    height: 300px;
  }

 .sidebarTitle {
    font-weight: bold; 
    background-color: #373737
 }

 .sidebarElement, .categoryIcon {
    color: inherit;
 }

 #quoteImage, #chatImage {
    max-width: 100%; 
    max-height: 100%;
 }

